body {
  background-color: #fffba7;
  min-width: 300px;
}
.selection_box {
  display: flex;
}
.addToDo {
  border: 3px rgba(0, 0, 0, 0.288) solid;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.288);
  min-width: 110px;
}
.addToDo:hover {
  color: rgba(0, 0, 0, 0.712);
  border: 3px rgba(0, 0, 0, 0.712) solid;
  cursor: pointer;
}
.list {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}
@keyframes popup {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
.To-Do {
  padding: 10px;
  width: 50%;
  margin: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.726);
  max-width: 300px;
  min-width: 200px;
  animation: popup;
  animation-duration: 0.2s;
}
.title {
  height: 35px;
  font-size: 30px;
  width: 95%;
  background-color: transparent;
  border: none;
  outline-style: none;
  resize: none;
  border-bottom: 2px solid black;
  overflow: hidden;
}
.description {
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline-style: none;
  resize: none;
  height: 100px;
  width: 95%;
  overflow: auto;
}
.description::-webkit-scrollbar {
  width: 5px;
}
.description::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.575);
  border-radius: 5px;
}
.description:focus {
  border: none;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.done {
  text-decoration: line-through;
}

.remove,
.completed {
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
}
.remove:hover,
.completed:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.5s;
  background-color: rgba(255, 255, 255, 0.336) !important;
}
@keyframes popdown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.01);
  }
}
.del {
  animation: popdown;
  animation-duration: 0.2s;
}
